* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #626262;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 100px; 
    list-style: none;
}

.header-menu a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #b4ad9e;
}

.header-menu a.active {
    color: #3fb871;
}

.posts {
    margin-top: 92px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 65px 40px; 
}

.post {
    width: calc(50% - 20px)
}

.post img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    margin-bottom: 62px; 
}

.post-category {
    font-size: 14px;
    letter-spacing: 2px;
    color: #b4ad9e;
    margin-bottom: 28px;
}

.post-title {
    font-size: 30px;
    margin-bottom: 32px;
}

.post-text {
    font-size: 14px;
    line-height: 1.7;
}

.load-more {
    display: block;
    margin: 80px auto;
    padding: 15px 45px;
    border: 1px solid #626262;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
}