@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{font-family: "Inter", sans-serif;}
.header-links{font-family: "Inter", sans-serif;}

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 20px 0;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #60A2B8;
}

.logo img {
    width: 40px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: #60A2B8;
    font-size: 14px;
}

.socials {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

/* HERO */

.hero {
    background: linear-gradient(180deg, #eaf4f7, #60A2B8);
    padding: 80px 0;
}

.hero-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-text button {
    background: #195360;
    color: #fff;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
}

.hero-image {
    position: relative;
}

.hero-image img:first-child {
    max-width: 420px;
    width: 100%;
}

.lemon {
    position: absolute;
    bottom: -30px;
    left: -60px;
    width: 100px;
}

.categories {
    padding: 80px 0 100px;
}

.categories-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.category {
    flex: 1;
    text-align: center;
}

.category img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 16px;
}

.category p {
    font-size: 16px;
    color: #333;
}

.category p.active {
    display: inline-block;
    padding: 4px 8px;
    border: 2px solid #3aa37c;
}

.about {
    padding-bottom: 120px;
}

.about-flex {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 32px;
    color: #7a3b3b;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.about-text button {
    margin-top: 25px;
    padding: 14px 28px;
    background: #1f5d6b;
    color: #fff;
    border: none;
    cursor: pointer;
}